.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  border: solid #5b6dcd 10px;
  border-radius: 50px;
  box-shadow: -1em 0 1.4em olive;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #e8ebdd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(11, 1, 1);
}

.App-link {
  color: #61dafb;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.map-container {
  width: 1000px;
  height: 1000px; /* Full viewport height */
}

.basic-map {
  height: 100%; /* Full height of the container */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
