.App {
  text-align: center;
}

body {
  font-family: 'Manrope', sans-serif;
  padding:10%;
  /* background-image: url(../stock-photos/bus-stock-photo.avif); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(226, 219, 219);
  color: #bd290b
}

.App-logo {
  width: 70%;
  height: auto;
  pointer-events: none;
  border: solid #5b6dcd 10px;
  border-radius: 50px;
  box-shadow: -1em 0 1.4em olive;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  position: relative;
  z-index: 1;
  background-color: #e8ebdd49;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(11, 1, 1);
}

.intro-block {
  border: solid #5b6dcd 10px;
  background-color: whitesmoke;
  margin: 5vh auto;
  padding: 1vh;
  max-width: 800px;
  width: 90%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.more-info {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.more-info:hover {
  color: rgb(75, 59, 59);
}

.App-link {
  color: #61dafb;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1000px;
  height: 1000px;
  z-index: 10;

  /* position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  right: 10px;
  left: auto;
  bottom: 20vh;
  width: 75vw;
  height: 75vh;
  z-index: 10; */

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.static-map-container {
  display: flex;
  flex-direction: row;
}

.map-nav {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.map-nav button {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.map-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placeholder {
  margin-bottom: 10px;
}

.switch-map {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.stop {
  border: solid #5b6dcd 1px;
  background-color: whitesmoke;
  padding: 1vw;
}

.route {
  border: solid #5b6dcd 1px;
  background-color: whitesmoke;
  padding: 3%;
  border: 1%;
}

.route-schedules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.news-update {
  border: solid #5b6dcd 1px;
  background-color: whitesmoke;
  padding: 1vw;
  margin: 2vh;
}

.geolocate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.target:hover {
  cursor: pointer;
  background-color: rgb(212, 203, 203);
  box-shadow: -.4em 0 .4em rgb(212, 203, 203);
}

.basic-map {
  width: 80vw;
  height: 80vh; 
  /* margin: 10px; */
}

.ol-menu-wrapper {
  background-color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin:1px;
  position: absolute;
  top: 70px;
  min-width: 300px;
  max-width: 450px;
  box-shadow: 0 10px 15px rgba(53, 53, 53, .125);
  left: 0;
  z-index: 500;
}

.menu-wrapper-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.menu-collapsible-vertical {
  overflow: hidden auto;
  transition: max-height .3s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.rt-route-icon {
  border-radius: 20px;
  min-width: 20px;
  color: white;
  line-height: 20px;
  border: 2px solid #000;
  padding: 10px;
  display: block;
  float: left;
  margin: 10px 15px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.rte-progress-and-stops {
  font-size: 16px;
  flex-grow: 20;
  flex-shrink: 0;
  overflow-y: scroll;
  max-height: 600px;
}

.rt-route-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

}

.rt-route-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rt-route-station {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.rt-route-station:hover {
  color: white;
  background: #5b6dcd;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.rt-route-times {
  display: flex;
  flex-direction: column;
  width: 40px;
  min-width: 40px;
  padding: 0 3px;
}